@import "reset.css";
@import "clock.css";
@import "menu.css";
@import "hidden.css";

body {
  height: 150vh;
  background-image: url("../image/bg.jpg");

  background-size: cover; /* 화면에 맞게 이미지 크기 조절 */
  background-repeat: no-repeat; /* 이미지 반복 제거 */
  display: flex;
  flex-direction: column;
  align-items: center;
}
