.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* 각 열의 비율을 조정 */
  place-items: center; /* 요소를 수직 및 수평으로 가운데 정렬 */
  width: 100%; /* 그리드 컨테이너의 너비를 조절 */
  margin: 0 auto; /* 가운데 정렬을 위한 왼쪽 및 오른쪽 마진 설정 */
}

.left-column {
  display: flex;
  flex-direction: column;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-board {
  border: solid 2px;
}

.play-button {
  background-color: #4caf50;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}

#pause-btn {
  display: none;
}

#sound-speaker {
  font-size: 30px;
}

.sound-item {
  cursor: pointer;
}
